@import "../base/normalize.css";
@import "../base/bootstrap.min.css";
@import "../base/all.css";
@import "../base/basic.css";
@import "../components/header.css";
@import "../components/footer.css";
@import "../layouts/intro.css";
.main .main__info-title{
    border-bottom: 2px solid #6c757d;
}
.main__info-title h2{
    display: inline-block;
    height: 100%;
    margin-bottom: 0;
    position: relative;
}
.main__info .news {
    width: 100%;
    margin: 15px;
    display: flex;
    flex-flow: wrap;
    padding: 10px 0;
    border-bottom: 1px solid #6c757d;
}

.main__info .news img{
    height: 200px;
    object-fit: cover;
    object-position: center center;
}

.main__info .news:first-child img{
    height: 377px;
}
@media screen and (max-width: 767px) {
    .main__info .news img{
        height: 160px;
    }
    .main__info .news:first-child img{
        height: 160px;
    }
    .main__info .news{

    }
}
.main .news{
    border: 1px solid #6c757d;
    box-shadow: 1px 1px 3px 0 #6c757d;
}
.main .news h4{
    color: #02558D;
}
.main .news p{
    height: 60px;
    width: 100%;
    line-height: 20px;
    font-size: 15px;
    overflow: hidden;
    white-space: normal;
    text-overflow: ellipsis;
    margin: 10px;
}
.main .news time{
    font-size: 14px;
}
.main .news button{
    width: 100%;
    margin-top: 20px;
}
.news__info{
    padding-top: 5px;
}
.right__box{
    border: 1px solid #6c757d;
}
.right__box .right__title{
    background-color: #f9f9f9;
}
.right__title h4{
    margin: 0;
    padding: 7px;
    border-bottom:2px solid #02558D;
    display: inline-block;
    cursor: pointer ;
}
.right__content {
    text-space: left;
    padding: 0 20px;
}
.right__content li{
    padding: 10px;
    font-size: 14px;
}
.right__content li p{
    color: #02558D;
}
.right__content li:not(:last-child){
    border-bottom: 1px solid #6c757d;
}

.detail__list ul{
    list-style: square inside;
    font-size: 14px;
    padding-bottom: 20px;
    border-bottom: 1px dashed #6c757d;
}
.detail__news{
    font-size: 14px;
}
.detail__news p{
    padding: 20px 5px;
    line-height: 20px;
}
.detail__news img{
    max-height: 450px;object-fit: cover;
    object-position: center center;
}
@media screen and (max-width: 767px) {
    .detail__news img{
        max-height: 220px;
    }
}
.detail__title{
    border-bottom: 1px dashed #6c757d;
}