<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>SDG - life</title>
    <link rel="stylesheet" href="../css/components/slick.css">
    <link rel="stylesheet" href="../css/components/slick-theme.css">
    <link rel="stylesheet" href="../css/layouts/intro.css">
    <link rel="stylesheet" href="../css/layouts/document.css">
</head>
<body>
<header>
    <div class="container-fluid">
        <div class="row">
            <div class="col-5 no-gutters">
                <div class="header__control header__control-left">
                    <ul class="nav">
                        <li class="nav-item text-center btn-toggle d-md-none">
                            <span></span>
                            <span></span>
                            <span></span>
                        </li>
                        <li class="nav-item text-center"><i class="far fa-map"></i><p>Site Map</p></li>
                        <li class="nav-item text-center"><img src="../img/vietnam.png" alt=""><p>Tiếng Việt</p></li>
                    </ul>
                </div>
            </div>
            <div class="col-2 text-center no-gutters"><a href=""><div class="header__logo"></div></a></div>
            <div class="col-5 no-gutters">
                <div class="header__control header__control-right">
                    <ul class="nav">
                        <li class="nav-item text-center"><i class="fas fa-shopping-basket"></i><p>Đặt hàng thương mại</p></li>
                        <li class="nav-item text-center "><i class="fas fa-credit-card btn-buy-online"><span>0</span></i><p>Đặt hàng Trực Tuyến</p></li>
                        <li class="nav-item text-center btn-login">
                            <i class="far fa-user"></i>
                            <p><span class="header__btn-login">Đăng nhập
                            </span>&nbsp;|&nbsp;<span class="header__btn-sign">Đăng kí</span></p>
                            <ul class="btn-login__ul d-lg-none">
                                <li class="header__btn-login">Đăng nhập</li>
                                <li class="header__btn-sign">Đăng Kí</li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="contact-right">
        <ul>
            <li class="text-center"><p><i class="fas fa-mobile-alt"></i></p></li>
            <li class="text-center"><i class="fas fa-cart-arrow-down"></i></li>
            <li class="text-center"><i class="fab fa-facebook-f"></i></li>
        </ul>
    </div>
    <div class="container-fluid header__list">
        <div class="row">
            <div class="col-md-6 header__list-left p-0">
                <ul class="nav header__menu justify-content-md-start">
                    <li class="nav-item text-md-center text-left text-uppercase nav-item-home"><p>trang chủ</p></li>
                    <li class="nav-item text-md-center text-left text-uppercase"><p>Giới thiệu</p></li>
                    <li class="nav-item text-md-center text-left text-uppercase"><p>Lĩnh vực</p>
                        <ul>
                            <li class="text-left">SDG-LIFE® LABORATORY</li>
                            <li class="text-left">SDG-LIFE® FARM</li>
                            <li class="text-left">SDG-LIFE® HEALTH</li>
                        </ul>
                    </li>
                    <li class="nav-item text-md-center text-left text-uppercase"><p>Dịch Vụ</p></li>

                </ul>
            </div>
            <div class="col-md-6 header__list-right p-0">
                <ul class="nav header__menu justify-content-md-end">
                    <li class="nav-item text-md-center text-left text-uppercase"><p>Tin tức</p>
                        <ul>
                            <li class="text-left">Tin SDG</li>
                            <li class="text-left">Tin Khoa học - Công nghệ</li>
                        </ul></li>
                    <li class="nav-item text-md-center text-left text-uppercase"><p>tuyển dụng</p></li>
                    <li class="nav-item text-md-center text-left text-uppercase"><p>tài liệu</p></li>
                    <li class="nav-item text-md-center text-left text-uppercase"><p>Liên hệ</p></li>
                </ul>
            </div>
        </div>
    </div>
</header>
<div class="blank-space"></div>
<div class="account" id="login">
    <div class="account__login">
        <form action="">
            <button class="account__facebook"><img src="../img/intro/icon/facebook.png" alt=""><span>Đăng nhập với Facebook</span></button>
            <button class="account__google"><img src="../img/intro/icon/search.png" alt=""><span>Đăng nhập với Gmail</span></button>
            <p class="account__border my-4"><span class="px-3">Hoặc</span></p>
            <label>
                <input type="email" placeholder="Email ">
            </label>
            <label>
                <input type="password" placeholder="Password">
            </label>
            <button>Email</button>
            <div class="d-flex border-0  justify-content-between">
                <label>
                    <input type="checkbox">
                    Ghi nhớ
                </label>
                <span class="btn-forget-pass"> <a href="">Quên mật khẩu ?</a></span>
            </div>
            <div class="d-flex justify-content-between account__footer pt-3">
                <span>BẠn chưa có tài khoản</span>
                <span class="btn-sign">Đăng kí</span>
            </div>
        </form>
        <div class="btn-account-close"><p></p>
            <p></p>
        </div>
    </div>
</div>
<div class="account " id="sign">
    <div class="account__sign">
        <form action="">
            <p class="account__border my-4 text-uppercase"><span class="px-3">đăng kí tài khoản</span></p>
            <label>
                <input type="email" placeholder="Email ">
            </label>
            <label>
                <input type="password" placeholder="Tạo mật khẩu">
            </label>
            <label>
                <input type="password" placeholder="Xác nhận mật khẩu">
            </label>
            <button>Đăng Kí</button>

            <div class="d-flex justify-content-between account__footer pt-3">
                <span>BẠn đã có tài khoản</span>
                <span class="btn-log">Đăng Nhập</span>
            </div>
        </form>
        <div class="btn-account-close"><p></p>
            <p></p>
        </div>
    </div>
</div>
<div class="account" id="forget-pass">
    <div class="account__sign">
        <form action="">
            <p class="account__border my-4 text-uppercase"><span class="px-3">Lấy lại mật khẩu</span></p>
            <label>
                <input type="email" placeholder="Vui lòng nhập Email">
            </label>
            <button>Gửi</button>

        </form>
        <div class="btn-account-close"><p></p>
            <p></p>
        </div>
    </div>
</div>
<nav aria-label="breadcrumb">
    <ol class="breadcrumb pl-md-4">
        <li class="breadcrumb-item"><a href="#">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Tài Liệu</li>
    </ol>
</nav>
<div class="document">
    <div class="container py-3">
        <div class="row">
            <div class="col-12">
                <h4 class="document__title">Tài Liệu Chính</h4>
                <div class="row file">
                    <div class="col-md-8 col-12 file__name"><i class="fas fa-file-alt"></i> <span class="pl-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium, veritatis.</span></div>
                    <div class="col-md-4 col-12 text-md-right">
                        <button class="btn-download">Tải về</button></div>
                </div>
            </div>

            <div class="col-12 py-5 ">
                <h4 class="document-title">Tài Liệu Liên Quan</h4>
                <div class="row file">
                    <div class="col-md-8 col-12 file__name"><i class="fas fa-file-alt"></i> <span class="pl-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio, neque.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium, veritatis.</span></div>
                    <div class="col-md-4 col-12 text-md-right">
                        <button class="btn-download">Tải về</button></div>
                </div>
            </div>
        </div>
    </div>
</div>
<footer class="pt-3">
    <div class="container footer__top py-2">
        <div class="row">
            <div class="col-md-7 col-12">
                <div class="row">
                    <div class="col-6 col-md-3 py-2">
                        <ul class="footer__list">
                            <li>Lorem ipsum.</li>
                            <li>Architecto, temporibus.</li>
                            <li>Laboriosam, laudantium.</li>
                            <li>Quod, similique!</li>
                            <li>Autem, quaerat.</li>
                            <li>Perferendis, possimus?</li>
                        </ul>
                    </div>
                    <div class="col-6 col-md-3 py-2">
                        <ul class="footer__list">
                            <li>Lorem ipsum.</li>
                            <li>Architecto, temporibus.</li>
                            <li>Laboriosam, laudantium.</li>
                            <li>Quod, similique!</li>
                        </ul>
                    </div>
                    <div class="col-6 col-md-3 py-2">
                        <ul class="footer__list">
                            <li>Lorem ipsum.</li>
                            <li>Architecto, temporibus.</li>
                            <li>Laboriosam, laudantium.</li>

                        </ul>
                    </div>
                    <div class="col-6 col-md-3 py-2">
                        <ul class="footer__list">
                            <li>Lorem ipsum.</li>
                            <li>Architecto, temporibus.</li>
                            <li>Laboriosam, laudantium.</li>

                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-5 col-12 footer__connect text-right py-3">
                <div class="row">
                    <div class="footer__btn-buy col-12 col-md-10 ml-auto">
                        <div class="footer__btn-buy-left">Đặt hàng trực tuyến</div>
                        <div class="footer__btn-buy-right">
                            <i class="fas fa-shopping-cart"></i>
                        </div>
                    </div>
                </div>
                <div class="row text-center text-md-right">
                    <div class="py-3 col-12">
                        <h6>Tổng đài tư vấn</h6>
                        <h6>18001155</h6>
                    </div>
                    <div class="col-12">Kết nối với SDG - Group</div>
                    <div class="col-12 footer__social py-2">
                        <i class="fab fa-facebook-f"></i>
                        <i class="fab fa-youtube"></i>
                        <i class="fab fa-google-plus-g"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer__bottom pt-3">
        <div class="container mt-2">
            <div class="row">
                <div class="col-md-8 footer__info">
                    <div class="row">
                        <div class="col-md-3 text-center">
                            <img class="footer__logo" src="../img/logo.png" alt="">
                        </div>
                        <div class="col-md-9">
                            <h3>SDG Group</h3>
                            <address class="py-1">183 Nguyễn Văn Trỗi, Phường 10, Quận Phú Nhuận, TPHCM</address>
                            <p>(028) 555768</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 footer__link py-2">
                    <dl>
                        <dt class="py-2">Các Trang Liên Kết</dt>
                        <dd>Khuyến mại tết</dd>
                        <dd>SDG group</dd>
                    </dl>

                </div>
            </div>
            <div class="row footer__more-info text-md-left  text-center p-2">
                <div class="col-md-6 offset-md-2"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias atque cumque delectus doloribus ducimus ipsum maiores officia perferendis perspiciatis. Magni.</div>
                <div class="col-md-4 text-center p-2"><img src="../img/BCT.png" alt=""></div>
            </div>
            <div class="py-2 text-center">@Copyright by DuyNguyen</div>

        </div>
    </div>
    <div class="btn-back-to-top"><i class="fa-angle-double-up fa"></i></div>
</footer>
<script src="../js/jquery-3.3.1.js"></script>
<script src="../js/reuse.js"></script>
</body>
</html>