<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>SDG - Life</title>
    <link rel="stylesheet" href="../css/components/slick.css">
    <link rel="stylesheet" href="../css/components/slick-theme.css">
    <link rel="stylesheet" href="../css/layouts/index.css">
</head>
<body>
<header>
    <div class="container-fluid">
        <div class="row">
            <div class="col-5 no-gutters">
                <div class="header__control header__control-left">
                    <ul class="nav">
                        <li class="nav-item text-center btn-toggle d-md-none">
                            <span></span>
                            <span></span>
                            <span></span>
                        </li>
                        <li class="nav-item text-center"><i class="far fa-map"></i><p>Site Map</p></li>
                        <li class="nav-item text-center"><img src="../img/vietnam.png" alt=""><p>Tiếng Việt</p></li>
                    </ul>
                </div>
            </div>
            <div class="col-2 text-center no-gutters"><a href=""><div class="header__logo"></div></a></div>
            <div class="col-5 no-gutters">
                <div class="header__control header__control-right">
                    <ul class="nav">
                        <li class="nav-item text-center"><i class="fas fa-shopping-basket"></i><p>Đặt hàng thương mại</p></li>
                        <li class="nav-item text-center "><i class="fas fa-credit-card btn-buy-online"><span>0</span></i><p>Đặt hàng Trực Tuyến</p></li>
                        <li class="nav-item text-center btn-login">
                            <i class="far fa-user"></i>
                            <p><span class="header__btn-login">Đăng nhập
                            </span>&nbsp;|&nbsp;<span class="header__btn-sign">Đăng kí</span></p>
                            <ul class="btn-login__ul d-lg-none">
                                <li class="header__btn-login">Đăng nhập</li>
                                <li class="header__btn-sign">Đăng Kí</li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="contact-right">
        <ul>
            <li class="text-center"><p><i class="fas fa-mobile-alt"></i></p></li>
            <li class="text-center"><i class="fas fa-cart-arrow-down"></i></li>
            <li class="text-center"><i class="fab fa-facebook-f"></i></li>
        </ul>
    </div>
    <div class="container-fluid header__list">
        <div class="row">
            <div class="col-md-6 header__list-left p-0">
                <ul class="nav header__menu justify-content-md-start">
                    <li class="nav-item text-md-center text-left text-uppercase nav-item-home"><p>trang chủ</p></li>
                    <li class="nav-item text-md-center text-left text-uppercase"><p>Giới thiệu</p></li>
                    <li class="nav-item text-md-center text-left text-uppercase"><p>Lĩnh vực</p>
                    <ul>
                        <li class="text-left">SDG-LIFE® LABORATORY</li>
                        <li class="text-left">SDG-LIFE® FARM</li>
                        <li class="text-left">SDG-LIFE® HEALTH</li>
                    </ul>
                    </li>
                    <li class="nav-item text-md-center text-left text-uppercase"><p>Dịch Vụ</p></li>

                </ul>
            </div>
            <div class="col-md-6 header__list-right p-0">
                <ul class="nav header__menu justify-content-md-end">
                    <li class="nav-item text-md-center text-left text-uppercase"><p>Tin tức</p>
                        <ul>
                            <li class="text-left">Tin SDG</li>
                            <li class="text-left">Tin Khoa học - Công nghệ</li>
                        </ul></li>
                    <li class="nav-item text-md-center text-left text-uppercase"><p>tuyển dụng</p></li>
                    <li class="nav-item text-md-center text-left text-uppercase"><p>tài liệu</p></li>
                    <li class="nav-item text-md-center text-left text-uppercase"><p>Liên hệ</p></li>
                </ul>
            </div>
        </div>
    </div>
</header>
<div class="blank-space"></div>
<div class="account" id="login">
    <div class="account__login">
        <form action="">
            <button class="account__facebook"><img src="../img/intro/icon/facebook.png" alt=""><span>Đăng nhập với Facebook</span></button>
            <button class="account__google"><img src="../img/intro/icon/search.png" alt=""><span>Đăng nhập với Gmail</span></button>
            <p class="account__border my-4"><span class="px-3">Hoặc</span></p>
            <label>
                <input type="email" placeholder="Email ">
            </label>
            <label>
                <input type="password" placeholder="Password">
            </label>
            <button>Email</button>
            <div class="d-flex border-0  justify-content-between">
                <label>
                    <input type="checkbox">
                    Ghi nhớ
                </label>
                <span class="btn-forget-pass"> <a href="">Quên mật khẩu ?</a></span>
            </div>
            <div class="d-flex justify-content-between account__footer pt-3">
                <span>BẠn chưa có tài khoản</span>
                <span class="btn-sign">Đăng kí</span>
            </div>
        </form>
        <div class="btn-account-close"><p></p>
            <p></p>
        </div>
    </div>
</div>
<div class="account " id="sign">
    <div class="account__sign">
        <form action="">
            <p class="account__border my-4 text-uppercase"><span class="px-3">đăng kí tài khoản</span></p>
            <label>
                <input type="email" placeholder="Email ">
            </label>
            <label>
                <input type="password" placeholder="Tạo mật khẩu">
            </label>
            <label>
                <input type="password" placeholder="Xác nhận mật khẩu">
            </label>
            <button>Đăng Kí</button>

            <div class="d-flex justify-content-between account__footer pt-3">
                <span>BẠn đã có tài khoản</span>
                <span class="btn-log">Đăng Nhập</span>
            </div>
        </form>
        <div class="btn-account-close"><p></p>
            <p></p>
        </div>
    </div>
</div>
<div class="account" id="forget-pass">
    <div class="account__sign">
        <form action="">
            <p class="account__border my-4 text-uppercase"><span class="px-3">Lấy lại mật khẩu</span></p>
            <label>
                <input type="email" placeholder="Vui lòng nhập Email">
            </label>
            <button>Gửi</button>

        </form>
        <div class="btn-account-close"><p></p>
            <p></p>
        </div>
    </div>
</div>
<article>
    <div class="banner">
        <ul class="banner__list">
            <li><img src="../img/img%20banner/evgeni-tcherkasski-1337645-unsplash.jpg" alt=""><p>Trung tâm xét nghiệm L.I.F.E, tọa lạc tại Quận 12, Tp. Hồ Chí Minh</p></li>
            <li><img src="../img/img%20banner/pretty-drugthings-1337883-unsplash.jpg" alt=""><p>Khu nông trại SDG-LIFE® FARM tọa lạc tại thành phố Bảo Lộc, tỉnh Lâm Đồng.</p></li>
            <li><img src="../img/img%20banner/vinx-teoh-1336462-unsplash.jpg" alt=""><p>: Sản phẩm đồ uống tăng cường sức khỏe SDG-LIFE® HEALTH</p></li>
        </ul>
    </div>
    <div class="banner__info">
            <div class="text-center text-uppercase banner__info-title">tin mới <i class="fa fa-angle-double-right"></i></div>
            <div class="text-center text-capitalize banner__info-new">
                   <ul class="banner__info-new__list">
                       <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius, voluptas.</li>
                       <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius, voluptas.</li>
                       <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius, voluptas.</li>
                   </ul>
            </div>
    </div>
</article>
<main>
    <div class="jumbotron">
        <div class="container">
            <ul class="jumbotron__list text-center d-flex text-center flex-md-row flex-column ">
                <li id="tab-1-toggle" class="p-2 tab-toggle active">Giới thiệu chung</li>
                <li id="tab-2-toggle" class="p-2 tab-toggle">SDG-LIFE® LABORATORY</li>
                <li id="tab-3-toggle" class="p-2 tab-toggle">SDG-LIFE® FARM</li>
                <li id="tab-4-toggle" class="p-2 tab-toggle">SDG-LIFE® HEALTH</li>
            </ul>
        </div>
        <div class="container pt-5 jumbotron__info">
            <div class="p-2 jumbotron__tab tab-1 ">SDG-LIFE là công ty thành viên trong tập đoàn SDG, hoạt động trong lĩnh vực chẩn đoán y khoa, nông nghiệp công nghệ cao và các dịch vụ, sản phẩm tăng cường sức khỏe theo phương châm: sống khỏe, ăn sạch, xây dựng thế giới xanh…</div>
            <div class="p-2 jumbotron__tab tab-2">Trung tâm chẩn đoán y khoa L.I.F.E Lab, nơi thực hiện các xét nghiệm từ đơn giản đến nâng cao, áp dụng các công nghệ chẩn đoán và sàng lọc hiện đại nhất trên thế giới để đem đến kết quả chính xác và nhiều thông tin nhất cho công tác sàng lọc, chẩn đoán, theo dõi và điều trị. L.I.F.E Lab cung cấp dịch vụ xét nghiệm cho tất cả các cá nhân, đơn vị có nhu cầu trên địa bàn thành phố HCM và các tỉnh lân cận.
                Chúng tôi vận hành quy trình xét nghiệm và hệ thống quản lý chất lượng theo tiêu chuẩn ISO 15189, ISO 17025, CAP và các tiêu chuẩn khác của Bộ Y Tế, Tổ chức Y tế thế giới với cam kết mang đến cho khách hàng những kết quả có độ chính xác cao nhất trong thời gian ngắn nhất.
            </div>
            <div class="p-2 jumbotron__tab tab-3">2.	SDG-LIFE® FARM, nơi cung cấp các sản phẩm nông nghiệp xanh, sạch với việc áp dụng các quy trình sản xuất đạt chuẩn GLOBAL GAP, Organic và áp dụng công nghệ sinh học trong việc lựa chọn, cải tiến và chuẩn hóa các giống cây trồng mới nhất.</div>
            <div class="p-2 jumbotron__tab tab-4">3.	SDG-LIFE® HEALTH, nơi áp dụng các công nghệ mới nhất trong việc chiết xuất các tinh chất có lợi cho sức khỏe từ những sản phẩm nông nghiệp công nghệ cao, phối hợp với các công thức chế biến đồ uống bổ dưỡng cho cơ thể.</div>
            <div class="pt-5 text-center"> <button class="jumbotron__info-btn">Xem Thêm <i class="fa fa-angle-double-right"></i></button></div>
        </div>
    </div>
    <div class="product p-4">
        <div class="container">
            <div class="product__title text-center pb-4">
                <h2 class="display-5 text-capitalize ">Lĩnh Vực</h2>
                <p class="text-uppercase"></p>
            </div>
            <div class="product__list">
                <div class="row pb-2">
                    <div class="col-12 col-md-4 pb-2" >
                        <div class="product__cart"><img src="../img/claudia-ramirez-1324169-unsplash.jpg" alt="">
                            <div class="product__cart-name text-uppercase"><span>sản phẩm</span></div>
                        </div>
                    </div>
                    <div class="col-12 col-md-4 pb-2" >
                        <div class="product__cart"><img src="../img/claudia-ramirez-1324169-unsplash.jpg" alt="">
                            <div class="product__cart-name text-uppercase"><span>sản phẩm</span></div>
                        </div>
                    </div>
                    <div class="col-12 col-md-4 pb-2" >
                        <div class="product__cart"><img src="../img/claudia-ramirez-1324169-unsplash.jpg" alt="">
                            <div class="product__cart-name text-uppercase"><span>sản phẩm</span></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="about">
        <div class="about__title text-center p-3">
            <h2 class="display-5">Dịch Vụ</h2>
        </div>
        <div class="about__list">
            <div class="container">
                <div class="row">
                    <div class="col-6 col-md-3">
                       <div class="about__cart">
                           <img src="../img/annie-spratt-294449-unsplash.jpg" alt="">
                           <div class="about__cart-name text-center"><span>Lorem ipsum.</span></div>
                       </div>
                    </div>
                    <div class="col-6 col-md-3">
                        <div class="about__cart">
                            <img src="../img/annie-spratt-294449-unsplash.jpg" alt="">
                            <div class="about__cart-name text-center"><span>Lorem ipsum.</span></div>
                        </div>
                    </div>
                    <div class="col-6 col-md-3">
                        <div class="about__cart">
                        <img src="../img/annie-spratt-294449-unsplash.jpg" alt="">
                            <div class="about__cart-name text-center"><span>Lorem ipsum.</span></div>
                        </div>
                    </div>
                    <div class="col-6 col-md-3">
                        <div class="about__cart ">
                            <img src="../img/annie-spratt-294449-unsplash.jpg" alt="">
                            <div class="about__cart-name text-center"><span>Lorem ipsum.</span></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="media-info p-2 mt-5 ">
        <div class="media-info__title text-center p-4"><h2 class="display-5">Tin Tức</h2></div>
        <div class="media-info__list">
            <div class="container">
                <div class="row">
                    <div class="col-6 col-lg-3 py-3">
                        <div class="card">
                            <div class="media-info__cart">
                                <img src="../img/anton-ljungberg-1123711-unsplash.jpg" alt="">
                                <div class="media-info__cart-name"><span>Sự kiện</span></div>
                            </div>
                            <div class="media-info__cart-content">
                                <time>10/2/2019</time>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic, voluptatum?Lorem ipsum dolor sit amet, consectetur adipisicing elit. In, molestias?</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 col-lg-3 py-3">
                        <div class="card">
                            <div class="media-info__cart">
                                <img src="../img/anton-ljungberg-1123711-unsplash.jpg" alt="">
                                <div class="media-info__cart-name"><span>Sự kiện</span></div>
                            </div>
                            <div class="media-info__cart-content">
                                <time>10/2/2019</time>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic, voluptatum?Lorem ipsum dolor sit amet, consectetur adipisicing elit. In, molestias?</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 col-lg-3 py-3">
                        <div class="card">
                            <div class="media-info__cart">
                                <img src="../img/anton-ljungberg-1123711-unsplash.jpg" alt="">
                                <div class="media-info__cart-name"><span>Sự kiện</span></div>
                            </div>
                            <div class="media-info__cart-content">
                                <time>10/2/2019</time>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic, voluptatum?Lorem ipsum dolor sit amet, consectetur adipisicing elit. In, molestias?</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 col-lg-3 py-3">
                        <div class="card">
                            <div class="media-info__cart">
                                <img src="../img/anton-ljungberg-1123711-unsplash.jpg" alt="">
                                <div class="media-info__cart-name"><span>Sự kiện</span></div>
                            </div>
                            <div class="media-info__cart-content">
                                <time>10/2/2019</time>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic, voluptatum?Lorem ipsum dolor sit amet, consectetur adipisicing elit. In, molestias?</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="supply-info p-2 mt-5">
        <div class="container supply-card">
            <div class="supply-info__background"><img src="../img/chris-knight-458508-unsplash.jpg" alt=""></div>
            <div class="bg-darkness"></div>
            <div class="supply-info__title text-center p-4">
                <h2 class="display-5">Liên Hệ</h2>
                <ul >
                    <li>Miền Bắc</li>
                    <li>Miền Trung</li>
                    <li>Miền Nam</li>
                </ul>
                <form action="" class="pt-3">
                    <label for="area"></label>
                    <select name="area" id="area" title="">
                        <option value="">Hà nội</option>
                        <option value="">Đà Nẵng</option>
                        <option value="">TP Hồ Chí Minh</option>
                    </select>
                    <label for="address"></label>
                    <select name="address" id="address" title="">
                        <option value="">- Chọn Chi Nhánh -</option>
                    </select>
                </form>
            </div>
        </div>
    </div>
</main>
<footer class="pt-3">
    <div class="container footer__top py-2">
        <div class="row">
          <div class="col-md-7 col-12">
              <div class="row">
                  <div class="col-6 col-md-3 py-2">
                      <ul class="footer__list">
                          <li>Lorem ipsum.</li>
                          <li>Architecto, temporibus.</li>
                          <li>Laboriosam, laudantium.</li>
                          <li>Quod, similique!</li>
                          <li>Autem, quaerat.</li>
                          <li>Perferendis, possimus?</li>
                      </ul>
                  </div>
                  <div class="col-6 col-md-3 py-2">
                      <ul class="footer__list">
                          <li>Lorem ipsum.</li>
                          <li>Architecto, temporibus.</li>
                          <li>Laboriosam, laudantium.</li>
                          <li>Quod, similique!</li>
                      </ul>
                  </div>
                  <div class="col-6 col-md-3 py-2">
                      <ul class="footer__list">
                          <li>Lorem ipsum.</li>
                          <li>Architecto, temporibus.</li>
                          <li>Laboriosam, laudantium.</li>

                      </ul>
                  </div>
                  <div class="col-6 col-md-3 py-2">
                      <ul class="footer__list">
                          <li>Lorem ipsum.</li>
                          <li>Architecto, temporibus.</li>
                          <li>Laboriosam, laudantium.</li>

                      </ul>
                  </div>
              </div>
          </div>
          <div class="col-md-5 col-12 footer__connect text-right py-3">
                <div class="row">
                    <div class="footer__btn-buy col-12 col-md-10 ml-auto">
                        <div class="footer__btn-buy-left">Đặt hàng trực tuyến</div>
                        <div class="footer__btn-buy-right">
                            <i class="fas fa-shopping-cart"></i>
                        </div>
                    </div>
                </div>
                <div class="row text-center text-md-right">
                    <div class="py-3 col-12">
                        <h6>Tổng đài tư vấn</h6>
                        <h6>18001155</h6>
                    </div>
                    <div class="col-12">Kết nối với SDG - Life</div>
                    <div class="col-12 footer__social py-2">
                        <i class="fab fa-facebook-f"></i>
                        <i class="fab fa-youtube"></i>
                        <i class="fab fa-google-plus-g"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer__bottom pt-3">
        <div class="container mt-2">
            <div class="row">
                <div class="col-md-8 footer__info">
                    <div class="row">
                        <div class="col-md-3 text-center">
                            <img class="footer__logo" src="../img/logo.png" alt="">
                        </div>
                        <div class="col-md-9">
                            <h3>SDG Life</h3>
                            <address class="py-1">183 Nguyễn Văn Trỗi, Phường 10, Quận Phú Nhuận, TPHCM</address>
                            <p>(028) 555768</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 footer__link py-2">
                    <dl>
                        <dt class="py-2">Các Trang Liên Kết</dt>
                        <dd>Khuyến mại tết</dd>
                        <dd>SDG group</dd>
                    </dl>

                </div>
            </div>
            <div class="row footer__more-info text-md-left  text-center p-2">
                <div class="col-md-6 offset-md-2"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias atque cumque delectus doloribus ducimus ipsum maiores officia perferendis perspiciatis. Magni.</div>
                <div class="col-md-4 text-center p-2"><img src="../img/BCT.png" alt=""></div>
            </div>
        </div>
    </div>
    <div class="btn-back-to-top"><i class="fa-angle-double-up fa"></i></div>
</footer>
<script src="../js/jquery-3.3.1.js"></script>
<script src="../js/slide/slick.js"></script>
<script src="../js/reuse.js"></script>
<script src="../js/index.js"></script>
</body>
</html>